@import './common';

body {
  width: 350px;
  min-height: 140px;
  max-height: 201px;
}

.header {
  background-color: #F21C1C;
  color: #FFF;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px 3px 0 0;
  text-shadow: rgba(0, 0, 0, 0.45) 1px 1px 10px;
  font-weight: bold;
  
  img {
    padding-top: 5px;
  }
  
  #options {
    position: absolute;
    right: 10px;
    top: 1px;
    font-size: 16px;
    cursor: pointer;
  }
  
  span {
    @extend .noninteractive;
  }
  
  a:hover {
    color: #222;
  }
}

.notplaying, .signedOut {
  @extend .noninteractive;  
  padding-top: 40px;
  text-align: center;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
  background: rgba(0, 0, 0, .85);
  color: #fff;
  text-shadow: #000 1px 1px 10px;
  height: 70px;
}

.nowplaying {
  // background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(230, 230, 230));
  background: #000;
  position: relative;
  height: 110px;
  border-radius: 0 0 3px 3px;
  
  .albumArt {
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat-x: none;
    background-repeat-y: none;
    background-size: cover;
    opacity: .45;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  
  .artist, .title, .album, .controls {
    width: 330px;
    left: 10px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    text-shadow: #000 1px 1px 10px;
  }
  
  .artistalbum {
    width: 230px;
    left: 110px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .artist {
    top: 7px;
    font-size: 14px;
  }

  .title {
    top: 30px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .artistalbum {
    top: 44px;
  }
  
  .controls {
    top: 68px;
    
    a {
      font-size: 20px;
      padding: 0 10px 0 0;
      
      &.active {
        color: #F21C1C;
      }
      
      &.loading:hover {
        cursor: default;
      }
      
      img {
        width: 20px;
        vertical-align: middle;
      }
      
      i {
        vertical-align: middle;
      }
    }
    
    #loveTrackBtn {    
      &.inactive i:hover:before {
        content: $fa-var-heart;
      }
      
      &.active i:before {
        content: $fa-var-heart;
      }
    }
  }

  .album {
    top: 40px;
  }
  
  .stats {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 175px;
    color: #fff;
    
    .scrobbles, .listeners {
      width: 45%;
      text-align: center;
      display: inline-block;
      
      .label, .value {
        display: block;
      }
      
      .label {
        color: #DDD;
        text-transform: uppercase;
        font-size: 12px;
      }
      
      .value {
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  
  .progress {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    
    &:hover {
      height: 10px;
    }
    
    .bar {
      height: 100%;
      background: #FF6334;      
      
      &.scrobbled {
        background: #00C856;
      }
    }
  }
}